<div>
      <h3>Prenume: {{agenda.firstname}}</h3>
      <h3>Nume: {{agenda.lastname}}</h3>
      <h3>Vârstă: {{agenda.age}}</h3>
      <h3>Luna naşterii: {{agenda.datatime}}</h3>
      <h3>Telefon: {{agenda.phone}}</h3>
      <h3>Tip telefon: {{agenda.phonetype}}</h3>
      <h3>Tip adresă: {{agenda.adresstype}}</h3>
      <h3>Stradă: {{agenda.street}}</h3>
      <h3>Localitate: {{agenda.city}}</h3>
      <h3>Ţară: {{agenda.country}}</h3>
      <h3>Notiţe: {{agenda.notes}}</h3><hr>
      <button class="delete" (click)="onDeletePerson()">Șterge persoană selectată</button>
      <button class="edit" (click)="onEditAgendaPerson()">Editează detaliile persoanei selectate</button>
</div>
